% rebase("osnovna.html")
<div class = "has-text-centered">

<div class="is-size-4">
<p>VNESITE PODATKE O PACIENTU!</p>
<div class="container is-max-widescreen">
    <div class="notification is-primary">
        <!--Obrazec za vnasanje podatkov o pacientu-->
        <form action="/dodaj_pacienta/" method="post"> 
            ime: <input type="text" size="40" maxlength="50" name="ime"><br>
            priimek: <input type="text" size="40" maxlength="50" name="priimek"><br>
            datum rojstva (mesec/dan/leto): <input type="text" size="40" maxlength="50" name="rojstvo"><br>
            id zdravnika: <input type="text" size="40" maxlength="100" name="id"><br>
            <input type="submit" value="POTRDI!">
        </form>
    </div>
    </div>
</div>
</div>
